@mixin atSmall {
    @media (min-width: 480px) {
        @content;
    }
}

@mixin atMedium {
    @media (min-width: 720px) {
        @content;
    }
}


@mixin atLarge {
    @media (min-width: 960px) {
        @content;
    }
}

@mixin atXLarge {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}
