$mainBlue: #1abc9c;
$mainGreen: #2ecc71;
$mainYellow: #d59541;

// $mainGreen: #00C853;
// $mainOrange: #f39c12;
$mainWhite: #ffffff;
// $secondaryWhite: #ecf0f1;
$mainBlack: #333333;
$mainGray: lighten(#bdc3c7, 15%);
$secondaryGray: #bdc3c7;
// $mainBrown: #6D5017;
//
// $mainColor: $mainOrange;
$mainBorderColor: $secondaryGray;
$mainTextColor: $mainBlack;
// $secondaryTextColor: $mainWhite;
$mainBackgroundColor: $mainWhite;
$secondaryBackgroundColor: $mainGray;
