$colorList: (
  main: $mainTextColor,
  green: $secondaryGreen,
  yellow: $mainYellow,
  blue: $secondaryBlue
);

.btn {
  font-weight: 200;
  font-size: 1.3rem;
  padding: 1rem;
  max-width: 250px;
  width: 80%;

  &--service {
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}



@each $color, $colorValue in $colorList {
  .btn--#{$color} {
    border: 2px solid $colorValue;
    color: $colorValue;

    &:hover {
      background-color: $colorValue;
      color: $mainBackgroundColor;
    }
  }
}
