.footer {
  background-color: $secondaryBackgroundColor;
  // position: absolute;
  // bottom: 0;
  width: 100%;

  &__headline {
    text-align: center;
    font-size: 1.1rem;

    @include atSmall {
      text-align: inherit;
    };

    @include atMedium {
      font-size: 1.3rem;
    };
  }

  &__copyright {
    padding-bottom: 0.5rem;
  }


  // .page_item {
  //   @include atSmall {
  //     display: inline-block;
  //     padding: 0.5rem;
  //   };
  // }
  .menu-item {
    padding: 0.25rem 0;
  }
}
