.main-content {
  padding-top: 30px;
  padding-bottom: 30px;
  flex-grow: 1;
  margin-top: 4rem;

  @include atMedium {
    border-top: 1px solid $mainBorderColor;
    margin-top: -1px;
    background-color: $mainBackgroundColor;
  }
}
