.banner {
  position: relative;
  padding-top: 60px;
  min-height: 200px;

  &--no-subtitle {
    min-height: 150px;
  }
  //
  &--home {
    position: absolute;
    width: 100%;
    top: 50vh;
    transform: translateY(-50%);
    height: 100vh
  }

  &__text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    // &--home {
    //   position: relative;
    // }

    &--no-image {
      padding-top: 6rem;
    }
  }

  &__image {
    margin-top: -60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    opacity: 0.5;
    height: 250px;

    &--front {
      height: 600px;
    }
  }
}
