.main-content {
  // padding-top: 30px;
  padding-bottom: 30px;
  flex-grow: 1;


  @include atMedium {
    // border-top: 1px solid $mainBorderColor;
    background-color: $mainBackgroundColor;
  }
}
