.service {
  border-width: 1px 0px 0px 0px;
  border-style: solid;
  border-color: $mainBorderColor;
  padding: 1.5rem;
  padding-top: 2.5rem;

  &:first-of-type {
    border-top: 0px solid $mainBorderColor;
  }

  &:last-of-type {
    border-bottom: 1px solid $mainBorderColor;
  }

  &__generic-text {
    @include atMedium {
      font-size: 1.2rem;
    };
  }

  &__iframe {
    height: 0px;
    width: 100%;
    border: none;
    border-top: 1px solid $mainBorderColor;
    transition: height 0.3s ease-out;

    &--active {
      height: 1150px;
      border-bottom: 1px solid $mainBorderColor;

      @include atMedium {
        height: 900px;
      };
    }
  }
}
