.step {
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @include atMedium {
    margin-bottom: 0;
  };

  &--red {
    color: $mainRed;
    border-color: $mainRed;
  }
  &--blue {
    color: $mainBlue;
    border-color: $mainBlue;
  }
  &--green {
    color: $secondaryGreen;
    border-color: $secondaryGreen;
  }
  &--yellow {
    color: $mainYellow;
    border-color: $mainYellow;
  }
  &--purple {
    color: $mainPurple;
    border-color: $mainPurple;
  }

  &__container {
    margin-bottom: 1rem;
  }

  &__label {
    font-size: 1.7rem;
    padding: 0.5rem;
    display: inline-block;
    position: relative;
    bottom: 1.35rem;
    left: 1rem;
    background-color: $mainBackgroundColor;

    @include atMedium {
      font-size: 1.3rem;
      bottom: 1.15rem;
    };

    @include atLarge {
      font-size: 1.7rem;
      bottom: 1.35rem;
    };
  }

  &__content {

    @include atSmall {
      font-size: 1.1rem;
    };

    @include atMedium {
      font-size: 1rem;
    };
  }
}
